* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 1920px;
  padding-left: 375px;
}

.first {
  margin-top: 30px;
}

.menu-bar {
  display: flex;
}

.menu {
  display: flex;
  margin-left: 100px;
}

.menu-list {
  margin-top: 10px;
  list-style: none;
  display: flex;
  gap: 40px;
}

.menu-list li {
  font-size: 16px;
  color: #000000;
  line-height: 19px;
  height: 19px;
}

.menu-list li:first-child {
  color: #F16214;
}

.register {
  margin-left: 30px;
  border: none;
  background-color: #F16214;
  border-radius: 120px;
  width: 80px;
  height: 30px;
  margin-top: 6px;
  font-size: 13px;
  color: #ffffff;
  cursor: pointer;
}

.product-img {
  position: absolute;
  top: 0px;
  z-index: -1;
  right: 0px;
}

.slogan h2 {
  width: 488px;
  font-size: 75px;
  margin-top: 141px;
}

.text {
  margin-top: 15px;
}

.text p {
  font-size: 16px;
  color: #888888;
  width: 570px;
}

.getstarted {
  margin-top: 40px;
  width: 170px;
  height: 50px;
  border: none;
  display: flex;
  align-items: center;
  gap: 19px;
  background-color: #F16214;
  border-radius: 54px;
}

.getstarted h5 {
  margin-left: 19px;
  color: #FFFFFF;
  font-size: 16px;
}

.getstarted img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.icons {
  margin-top: 40px;
}

.icons img {
  margin-right: 23px;
  cursor: pointer;
}

.feature {
  margin-top: 123px;
  position: relative;
  left: -45px;
}

.how-to-work {
  margin-top: 181px;
  margin-left: 600px;
}

.how-to-work h6 {
  color: #F16214;
  font-size: 14px;
}

.how-to-work h3 {
  width: 526px;
  margin-top: 6px;
  color: #000000;
  font-size: 40px;
}

.information {
  font-size: 16px;
  color: #888888;
  width: 570px;
  margin-left: 600px;
  margin-top: 45px;
}

.learnbutton {
  width: 160px;
  height: 50px;
  margin-left: 600px;
  margin-top: 29px;
}

.learnmore {
  width: 160px;
  display: flex;
  align-items: center;
  border: none;
  background-color: #F16214;
  border-radius: 54px;
}

.learnmore h5 {
  font-size: 16px;
  color: #FFFFFF;
  margin-right: 16px;
  margin-left: 16px;
}

.learnmore img {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.salmon {
  position: absolute;
  left: 0px;
  top: 1150px;
}

.third {
  margin-top: 150px;
}

.txt {
  margin-top: 97px;
  margin-left: 300px;
  width: 571px;
}

.txt h6 {
  font-size: 14px;
  color: #F16214;
  margin-left: 250px;
}

.txt h2 {
  font-size: 40px;
  margin-top: 6px;
}
