* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  padding-left: 375px;
}

.first {
  margin-top: 30px;
}

.menu-bar {
  display: flex;
}

.menu {
  display: flex;
  margin-left: 100px;
}

.menu-list {
  margin-top: 10px;
  list-style: none;
  display: flex;
  gap: 40px;
}

.menu-list li {
  font-size: 16px;
  color: #000000;
  line-height: 19px;
  height: 19px;
}

.menu-list li:first-child {
  color: #F16214;
}

.register {
  margin-left: 30px;
  border: none;
  background-color: #F16214;
  border-radius: 120px;
  width: 80px;
  height: 30px;
  margin-top: 6px;
  font-size: 13px;
  color: #ffffff;
  cursor: pointer;
}

.product-img {
  position: absolute;
  top: 0px;
  z-index: -1;
  right: 0px;
}

.slogan h2 {
  width: 488px;
  font-size: 75px;
  margin-top: 141px;
}

.text {
  margin-top: 15px;
}

.text p {
  font-size: 16px;
  color: #888888;
  width: 570px;
}

.getstarted {
  margin-top: 40px;
  width: 170px;
  height: 50px;
  border: none;
  display: flex;
  align-items: center;
  gap: 19px;
  background-color: #F16214;
  border-radius: 54px;
}

.getstarted h5 {
  margin-left: 19px;
  color: #FFFFFF;
  font-size: 16px;
}

.getstarted img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.icons {
  margin-top: 40px;
}

.icons img {
  margin-right: 23px;
  cursor: pointer;
}

.feature {
  margin-top: 123px;
  position: relative;
  left: -45px;
}

.how-to-work {
  margin-top: 181px;
  margin-left: 600px;
}

.how-to-work h6 {
  color: #F16214;
  font-size: 14px;
}

.how-to-work h3 {
  width: 526px;
  margin-top: 6px;
  color: #000000;
  font-size: 40px;
}

.information {
  font-size: 16px;
  color: #888888;
  width: 570px;
  margin-left: 600px;
  margin-top: 45px;
}

.learnbutton {
  width: 160px;
  height: 50px;
  margin-left: 600px;
  margin-top: 29px;
}

.learnmore {
  width: 160px;
  display: flex;
  align-items: center;
  border: none;
  background-color: #F16214;
  border-radius: 54px;
}

.learnmore h5 {
  font-size: 16px;
  color: #FFFFFF;
  margin-right: 16px;
  margin-left: 16px;
}

.learnmore img {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.salmon {
  position: absolute;
  left: 0px;
  top: 1150px;
}

.third {
  margin-top: 150px;
}

.txt {
  margin-top: 97px;
  margin-left: 300px;
  width: 571px;
}

.txt h6 {
  font-size: 14px;
  color: #F16214;
  margin-left: 250px;
}

.txt h2 {
  font-size: 40px;
  margin-top: 6px;
}

.services1 {
  display: flex;
  padding-left: 10%;
  padding-right: 18%;
  margin-top: 59px;
  margin-bottom: 200px;
  gap: 30px;
}
.services1 .quality {
  border-radius: 60px 0px;
  text-align: center;
  border: 2px solid #EEEEEE;
}
.services1 .quality .qua-img {
  width: 80px;
  height: 80px;
  margin-top: 70px;
}
.services1 .quality .qua-h5 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
  margin-top: 44px;
}
.services1 .quality .qua-p {
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
  text-align: center;
  color: #888888;
  margin: 0 26px;
  margin-top: 22px;
}
.services1 .healty {
  border: 2px solid #EEEEEE;
  border-radius: 60px 0px;
  text-align: center;
}
.services1 .healty .hea-img {
  width: 80px;
  height: 80px;
  margin-top: 70px;
}
.services1 .healty .hea-h5 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
  margin-top: 44px;
}
.services1 .healty .hea-p {
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
  text-align: center;
  color: #888888;
  margin: 0 26px;
  margin-top: 22px;
  margin-bottom: 72px;
}
.services1 .delivry {
  border: 2px solid #EEEEEE;
  border-radius: 60px 0px;
  text-align: center;
}
.services1 .delivry .del-img {
  width: 80px;
  height: 80px;
  margin-top: 70px;
}
.services1 .delivry .del-h5 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
  margin-top: 44px;
}
.services1 .delivry .del-p {
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
  text-align: center;
  color: #888888;
  margin: 0 26px;
  margin-top: 22px;
}

.fourth .product {
  margin-top: 97px;
  text-align: center;
}
.fourth .product .product-p {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16214;
  margin-bottom: 6px;
}
.fourth .product .product-h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}
.fourth .foods {
  margin: 0 auto;
  margin-top: 59px;
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  gap: 20px;
}
.fourth .foods .sandwich {
  width: 370px;
  height: 419px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}
.fourth .foods .sandwich .writes {
  display: flex;
  justify-content: space-between;
  padding: 0 19px;
}
.fourth .foods .sandwich .writes .left {
  width: 151px;
  margin-top: 14px;
}
.fourth .foods .sandwich .writes .left .gyro {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.fourth .foods .sandwich .writes .left .cart {
  width: 100px;
  height: 40px;
  background: #F16214;
  border-radius: 50px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  border: none;
  color: #FFFFFF;
  margin-top: 19px;
}
.fourth .foods .sandwich .writes .right {
  width: 48px;
  margin-top: 31px;
}
.fourth .foods .sandwich .writes .right .img-p {
  display: flex;
  text-align: end;
  width: 36px;
  height: 14px;
  margin-bottom: 16px;
  padding-left: 10px;
}
.fourth .foods .sandwich .writes .right .img-p .san-img {
  width: 14px;
  height: 14px;
}
.fourth .foods .sandwich .writes .right .img-p .san-star {
  text-align: end;
  width: 36px;
  height: 14px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-bottom: 16px;
  padding-left: 5px;
}
.fourth .foods .sandwich .writes .right .san-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.fourth .foods .ench {
  width: 370px;
  height: 419px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}
.fourth .foods .ench .writes1 {
  display: flex;
  justify-content: space-between;
  padding: 0 19px;
}
.fourth .foods .ench .writes1 .left1 {
  width: 151px;
  margin-top: 14px;
}
.fourth .foods .ench .writes1 .left1 .gyro1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.fourth .foods .ench .writes1 .left1 .cart1 {
  width: 100px;
  height: 40px;
  background: #F16214;
  border-radius: 50px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  border: none;
  color: #FFFFFF;
  margin-top: 19px;
}
.fourth .foods .ench .writes1 .right1 {
  width: 48px;
  margin-top: 31px;
}
.fourth .foods .ench .writes1 .right1 .img-p1 {
  display: flex;
  text-align: end;
  width: 36px;
  height: 14px;
  margin-bottom: 16px;
  padding-left: 10px;
}
.fourth .foods .ench .writes1 .right1 .img-p1 .san-img1 {
  width: 14px;
  height: 14px;
}
.fourth .foods .ench .writes1 .right1 .img-p1 .san-star1 {
  text-align: end;
  width: 36px;
  height: 14px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-bottom: 16px;
  padding-left: 5px;
}
.fourth .foods .ench .writes1 .right1 .san-price1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.fourth .foods .beans {
  width: 370px;
  height: 419px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}
.fourth .foods .beans .writes2 {
  display: flex;
  justify-content: space-between;
  padding: 0 19px;
}
.fourth .foods .beans .writes2 .left2 {
  width: 151px;
  margin-top: 14px;
}
.fourth .foods .beans .writes2 .left2 .gyro2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.fourth .foods .beans .writes2 .left2 .cart2 {
  width: 100px;
  height: 40px;
  background: #F16214;
  border-radius: 50px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  border: none;
  color: #FFFFFF;
  margin-top: 19px;
}
.fourth .foods .beans .writes2 .right2 {
  width: 48px;
  margin-top: 31px;
}
.fourth .foods .beans .writes2 .right2 .img-p2 {
  display: flex;
  text-align: end;
  width: 36px;
  height: 14px;
  margin-bottom: 16px;
  padding-left: 10px;
}
.fourth .foods .beans .writes2 .right2 .img-p2 .san-img2 {
  width: 14px;
  height: 14px;
}
.fourth .foods .beans .writes2 .right2 .img-p2 .san-star2 {
  text-align: end;
  width: 36px;
  height: 14px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-bottom: 16px;
  padding-left: 5px;
}
.fourth .foods .beans .writes2 .right2 .san-price2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.fourth .foods .pizza {
  width: 370px;
  height: 419px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}
.fourth .foods .pizza .writes3 {
  display: flex;
  justify-content: space-between;
  padding: 0 19px;
}
.fourth .foods .pizza .writes3 .left3 {
  width: 151px;
  margin-top: 14px;
}
.fourth .foods .pizza .writes3 .left3 .gyro3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.fourth .foods .pizza .writes3 .left3 .cart3 {
  width: 100px;
  height: 40px;
  background: #F16214;
  border-radius: 50px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  border: none;
  color: #FFFFFF;
  margin-top: 19px;
}
.fourth .foods .pizza .writes3 .right3 {
  width: 48px;
  margin-top: 31px;
}
.fourth .foods .pizza .writes3 .right3 .img-p3 {
  display: flex;
  text-align: end;
  width: 36px;
  height: 14px;
  margin-bottom: 16px;
  padding-left: 10px;
}
.fourth .foods .pizza .writes3 .right3 .img-p3 .san-img3 {
  width: 14px;
  height: 14px;
}
.fourth .foods .pizza .writes3 .right3 .img-p3 .san-star3 {
  text-align: end;
  width: 36px;
  height: 14px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-bottom: 16px;
  padding-left: 5px;
}
.fourth .foods .pizza .writes3 .right3 .san-price3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.fourth .foods .potpie {
  width: 370px;
  height: 419px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}
.fourth .foods .potpie .writes4 {
  display: flex;
  justify-content: space-between;
  padding: 0 19px;
}
.fourth .foods .potpie .writes4 .left4 {
  width: 151px;
  margin-top: 14px;
}
.fourth .foods .potpie .writes4 .left4 .gyro4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.fourth .foods .potpie .writes4 .left4 .cart4 {
  width: 100px;
  height: 40px;
  background: #F16214;
  border-radius: 50px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  border: none;
  color: #FFFFFF;
  margin-top: 19px;
}
.fourth .foods .potpie .writes4 .right4 {
  width: 48px;
  margin-top: 31px;
}
.fourth .foods .potpie .writes4 .right4 .img-p4 {
  display: flex;
  text-align: end;
  width: 36px;
  height: 14px;
  margin-bottom: 16px;
  padding-left: 10px;
}
.fourth .foods .potpie .writes4 .right4 .img-p4 .san-img4 {
  width: 14px;
  height: 14px;
}
.fourth .foods .potpie .writes4 .right4 .img-p4 .san-star4 {
  text-align: end;
  width: 36px;
  height: 14px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-bottom: 16px;
  padding-left: 5px;
}
.fourth .foods .potpie .writes4 .right4 .san-price4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.fourth .foods .salad {
  width: 370px;
  height: 419px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}
.fourth .foods .salad .writes5 {
  display: flex;
  justify-content: space-between;
  padding: 0 19px;
}
.fourth .foods .salad .writes5 .left5 {
  width: 151px;
  margin-top: 14px;
}
.fourth .foods .salad .writes5 .left5 .gyro5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.fourth .foods .salad .writes5 .left5 .cart5 {
  width: 100px;
  height: 40px;
  background: #F16214;
  border-radius: 50px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  border: none;
  color: #FFFFFF;
  margin-top: 19px;
}
.fourth .foods .salad .writes5 .right5 {
  width: 48px;
  margin-top: 31px;
}
.fourth .foods .salad .writes5 .right5 .img-p5 {
  display: flex;
  text-align: end;
  width: 36px;
  height: 14px;
  margin-bottom: 16px;
  padding-left: 10px;
}
.fourth .foods .salad .writes5 .right5 .img-p5 .san-img5 {
  width: 14px;
  height: 14px;
}
.fourth .foods .salad .writes5 .right5 .img-p5 .san-star5 {
  text-align: end;
  width: 36px;
  height: 14px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-bottom: 16px;
  padding-left: 5px;
}
.fourth .foods .salad .writes5 .right5 .san-price5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.fourth .button-see {
  margin-top: 60px;
  background: #F16214;
  border-radius: 54px;
  width: 200px;
  height: 50px;
  position: relative;
  margin-left: 43%;
  margin-bottom: 100px;
  transition: all 0.4s ease-in;
  cursor: pointer;
}
.fourth .button-see .get1 {
  position: absolute;
  width: 131px;
  height: 24px;
  left: 12px;
  top: 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
.fourth .button-see .arrow-img1 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 155px;
  top: 5px;
}

.fifth {
  margin: 0 auto;
}
.fifth .sec5info {
  height: 500px;
  margin-top: 300px;
  background-image: url(../image/background.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  position: relative;
}
.fifth .sec5info .screen1 {
  width: 628px;
  height: 650px;
  position: absolute;
  top: -18%;
  left: 47%;
  background-image: url(../image/p-p.png);
  background-position: center;
  background-color: transparent;
}
.fifth .sec5info .sec5div {
  padding-left: 21%;
  padding-top: 100px;
  padding-right: 43%;
}
.fifth .sec5info .sec5div h3 {
  width: 47%;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.fifth .sec5info .sec5div .andr {
  margin-right: 15px;
  margin-left: -70px;
  cursor: pointer;
}
.fifth .sec5info .sec5div .iphone {
  cursor: pointer;
}

.sixth {
  margin-bottom: 180px;
}
.sixth .sec6div {
  height: 644px;
  background-image: url(../image/vegetable.png);
  background-repeat: no-repeat;
  margin-top: 150px;
}
.sixth .sec6div .imonial {
  padding-top: 97px;
  text-align: center;
}
.sixth .sec6div .imonial .test {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16214;
  margin-bottom: 6px;
}
.sixth .sec6div .imonial .happy {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}
.sixth .sec6div .esas {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.sixth .sec6div .esas .right1 {
  width: 569px;
  height: 483px;
  background-image: url(../image/lebanese.png);
}
.sixth .sec6div .esas .left {
  margin-top: 118px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 29%;
}
.sixth .sec6div .esas .left .ceo-img {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
}
.sixth .sec6div .esas .left .ceo-name .ceo-namee {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.sixth .sec6div .esas .left .ceo-name .founder {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #888888;
}
.sixth .sec6div .esas .left .ceo-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #888888;
  margin-top: 41px;
}
.sixth .sec6div .esas .left .arrow {
  height: 50px;
  display: flex;
  gap: 30px;
  margin: 55px auto;
}
.sixth .sec6div .esas .left .arrow .aleft {
  border: 1.5px solid #EEEEEE;
  border-radius: 10px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
}
.sixth .sec6div .esas .left .arrow .aleft .saga {
  padding-top: 5px;
  padding-left: 13px;
  padding-right: 13px;
}
.sixth .sec6div .esas .left .arrow .aright {
  width: 50px;
  height: 50px;
  border: 1.5px solid #EEEEEE;
  border-radius: 10px;
  background: #F16214;
  display: flex;
  align-items: center;
}
.sixth .sec6div .esas .left .arrow .aright .sola {
  padding-left: 13px;
  padding-right: 13px;
}

.seventh {
  height: 500px;
  padding-left: 20%;
  margin-top: 200px;
  margin-bottom: 100px;
  background-image: url(../image/hamburger11.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 58%;
  margin: 0 auto;
  display: flex;
  gap: 120px;
}
.seventh .hamburinfo {
  width: 504px;
  padding-top: 150px;
  margin-left: -10%;
}
.seventh .hamburinfo h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */
  color: #FFFFFF;
}
.seventh .hamburinfo p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #888888;
  margin-top: 15px;
  margin-bottom: 29px;
}
.seventh .hamburinfo .mail {
  width: 95%;
  height: 60px;
  background: #FFFFFF;
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
}
.seventh .hamburinfo .mail .inputmail {
  width: 66%;
  height: 30px;
  margin-top: 15px;
  margin-left: 20px;
  outline: none;
  border: none;
}
.seventh .hamburinfo .mail .inputmail::placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  /* identical to box height, or 20px */
  color: #CCCCCC;
}
.seventh .hamburinfo .mail .subs {
  width: 120px;
  height: 50px;
  margin-top: 5px;
  margin-right: 5px;
  background: #F16214;
  border-radius: 13px;
  padding: 13px 22px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  color: #FFFFFF;
  cursor: pointer;
}

.end {
  padding-left: 20%;
  padding-right: 20%;
  background: #F5F5F5;
  padding-top: 100px;
}
.end .pson {
  font-weight: 400;
  font-size: 15px;
  line-height: 170%;
  /* identical to box height, or 26px */
  color: #888888;
  padding-left: 39%;
  margin-bottom: 26px;
}
.end .footer-div {
  border-bottom: 3px solid #DDDDDD;
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  padding-bottom: 10%;
}
.end .footer-div .div1 p {
  width: 270px;
  height: 66px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #888888;
  margin-top: 34px;
  margin-bottom: 34px;
}
.end .footer-div .div1 .media {
  display: flex;
  gap: 23px;
}
.end .footer-div .div2 h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */
  color: #000000;
  margin-bottom: 36px;
  margin-top: 6px;
}
.end .footer-div .div2 p {
  width: 216px;
  height: 96px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  /* or 32px */
  color: #888888;
}
.end .footer-div .div3 h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */
  color: #000000;
  margin-top: 6px;
  margin-bottom: 36px;
}
.end .footer-div .div3 p {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  /* or 32px */
  color: #888888;
}
.end .footer-div .div4 h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */
  color: #000000;
  margin-top: 6px;
}
.end .footer-div .div4 p {
  width: 156px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  /* or 32px */
  color: #888888;
}
.end .footer-div .div4 .p1 {
  margin-top: 36px;
}
.end .footer-div .div4 .p2 {
  margin-bottom: 20px;
}
.end .footer-div .contact {
  background: #fff;
  display: flex;
  width: 100%;
  text-align: center;
  border-radius: 13px;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
}
.end .footer-div .contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 46px;
}
.end .footer-div .contact-us form {
  display: flex;
}
.end .footer-div .contact-us input {
  font-family: Product Sans;
  background: white;
  border: none;
  padding: 15px 15px;
  flex-grow: 2;
  border-radius: 10px;
  color: #000000;
  height: 20px;
}
.end .footer-div .contact-us input::-webkit-input-placeholder {
  color: rgba(204, 204, 204, 0.8);
}
.end .footer-div .contact-us input:focus {
  outline: none;
}
.end .footer-div .contact-us .btn-submit {
  cursor: pointer;
  background: #f16214;
  border: none;
  padding: 8px 12px;
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  gap: 10px;
  position: relative;
  font-family: Product Sans;
  font-weight: 500;
  border: 1px solid transparent;
}
.end .footer-div .contact-us .btn-submit span {
  border-bottom: 2.3px solid #f6f5f5;
  z-index: 1;
  height: 6px;
  width: 6px;
  border-right: 2.3px solid #f3f0ee;
  transform: rotate(-45deg);
  position: absolute;
  top: 15.8px;
  left: 15px;
}
.end .footer-div .contact-us .btn-submit:focus {
  outline: none;
}
